@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Londrina+Outline&family=Mr+Bedfort&display=swap');

body {
    margin-top: 50px;
    background-color: rgb(175, 172, 172);
    font-family: "Edu QLD Beginner", cursive;
}

div {
    flex-direction: column;
    background-color: white;
    width: 400px;
    margin:auto;
    height:500px;
    display:flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    padding-top:100px;
    
}
p { 
    justify-self: center;
    align-self: center;
    margin-top: 0;
    font-size: 1.5rem;
    padding-bottom: 25px;
    color: grey;
}
h1 {
    justify-self: center;
    align-self: center;
    color:rgb(55, 55, 55);
}
#cross {
   height: 20px;
   justify-content: flex-end;
   align-content: flex-start;
   cursor: pointer;
   display: flex; 
   float: right;
   opacity: 0.5;
}

#foto {
    justify-self: center;
    align-self: center;;
    height:200px;
    width:200px;
    border-radius: 50%;
}
footer {
    background-color: rgb(74, 73, 73);
    font-weight: bold;
    font-size: 1.5rem;
    color:white;
    justify-self: center;
    align-self: center;
    border-radius: 2rem;
    padding:20px;
    margin-top: 25px;
}

footer:hover {
    background-color: rgb(216, 215, 215);
    color: black;
    cursor: pointer;
}