
body {
    background-color: grey;
    justify-content: center;}
 

article {
    background-color: white;
    height: 40rem;
    width: 70rem;
    margin: 5rem;
    display: flex;
    justify-content: center;
    }

p {
    margin-top: 25vh;
    background-color: red;
    border-radius: 50%;
    height: 15rem;
    width: 15rem
}